#outerspace{
  background-color:#000000;
  border:2px solid;
  width:15000px;
  height:1500px;
  background-image: url('../assets/amal/stars2.jpg');
  background-repeat: repeat;
}
#skyBelt{
  width:15000px;
  height:700px;
 /* background: black;*/
  background-image:url('../assets/amal/stars.png')
}
#emergencyCover{
  position:fixed;
  display:none;
  top:0px;
  left:0px;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  background-color:rgba(255,0,0,0.5);
}
.tool{
  height:70%;
}
#toolbox{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  height:7%;
/*  background:#ffffff;*/
  /*border:2px solid #ccc;*/
}
#toolbox img{
  margin-left:10px;
}
#amalStage{
  position:absolute;
  left:1500px;
  top:2300px;
}
#askBuilding{
  position:absolute;
  left:2200px;
  top:2300px;
}
#kayFarm{
  position:absolute;
  left:3200px;
  top:2800px;
}
#kayStation{
  position:absolute;
  left:3550px;
  top:3700px;
}
#kayTrack{
  position:absolute;
  left:2750px;
  top:3900px;
}
#kayTube{
  position:absolute;
  left:2750px;
  top:4100px;
  width:4000px;
}
#kayTube2{
  position:absolute;
  left:1050px;
  top:3660px;
  width:2300px;
}
#kayTrack2{
  position:absolute;
  left:3650px; /*+900*/
  top:3880px; /*-20*/
}
#kayTrack3{
  position:absolute;
  left:4550px;
  top:3860px;
}
#kayTrack4{
  position:absolute;
  left:5450px;
  top:3840px;
}
#aristotleOffice{
  position:absolute;
  left:4550px;
  top:3460px;
}
#amalRainbow{
  position:absolute;
  left:3200px;
  top:2000px;
}
#georgie{
  position:absolute;
  top:5000px;
}
#amalBuilding{
  position:absolute;
  left:4600px;
  top:2000px;
}
#candyland{
  position:absolute;
  left:9200px;
  top:1750px;
  width:1500px;
}
#scarletVolcano{
  position:absolute;
  left:10500px;
  top:1150px;
  width:1500px;
}
#kayMarbleSlide{
  position:absolute;
  left:5000px;
  top:2200px;
  width:1500px;
}
#marbleCourse1{
  position:absolute;
  left:6500px;
  top:1800px;
/*  width:1500px;*/
}
#marbleCourse2{
  position:absolute;
  left:7500px;
  top:2500px;
/*  width:1500px;*/
}
#marbleCourse3{
  position:absolute;
  left:7500px;
  top:2000px;
/*  width:1500px;*/
}
.checkboard{
  width:500px;
}
#scarletPortal{
  position:absolute;
  top:1200px;
  width:400px;
  left:700px;
}
#amalPortal{
  position:absolute;
  top:1200px;
  left:9000px;
}
#kayRoad1{
  position:absolute;
  left:4040px;
  top:2980px;
  background-image: url('../assets/places/road2.png');
  background-repeat: repeat;
  height:300px;
  width:10000px;
}
/*#kayRoad2{
  position:absolute;
  left:5340px;
  top:2980px;
  width:1500px;
}
#kayRoad3{
  position:absolute;
  left:6640px;
  top:2980px;
  width:1500px;
}
#kayRoad4{
  position:absolute;
  left:7940px;
  top:2980px;
  width:1500px;
}
#kayRoad5{
  position:absolute;
  left:7940px;
  top:2980px;
  width:1500px;
}*/
#sunglasses{
  position:absolute;
  left:50px;
  top:20px;
  width:100px;
  display:none;
}
#sunglasses img{
  margin:-10px;
}
#aristotleCars{
  position:absolute;
  left:4040px;
  top:3000px;
  width:10000px;
}
#aristotleCars img{
  margin:-30px;
}
.car{
  width:200px;
}
#spaghettiJail{
  position:absolute;
  left:7740px;
  top:3400px;
}
#azizBed{
  position:absolute;
  left:8340px;
  top:3500px;
}
#aristotleRailroad{
  position:absolute;
  left:6440px;
  top:3300px;
}
#kayRiver{
  position:absolute;
  top:2000px;
  left:12000px;
}
#kayBridge{
  position:absolute;
  top:4400px;
  left:12000px;
}
#kayRink{
  position:absolute;
  left:8340px;
  top:4500px;
}
#airVolcano{
  position:absolute;
  left:11740px;
  top:6000px;
  width:1500px;
}
#puppyForest{
  position:absolute;
  left:9740px;
  top:4000px;
  width:2000px;
}
#kayTents{
  position:absolute;
  left:11400px;
  top:4500px;
}
#amalVolcano{
  position:absolute;
  left:9640px;
  top:5500px;
}
#ruiVolcano{
  position:absolute;
  left:8640px;
  top:5500px;
}

#amalToyShop{
  position:absolute;
  left:8940px;
  top:3500px;
}
#basementStairs{
  position:absolute;
  left:7640px;
  top:4600px;
}
#bakery{
  position:absolute;
  top:3200px;
  left:13500px;
}