#outerspace{
  background-color:#000000;
  border:2px solid;
  width:17000px;
  height:1500px;
  background-image: url('../assets/amal/stars2.jpg');
  background-repeat: repeat;
}
#skyBelt{
  width:17000px;
  height:700px;
 /* background: black;*/
  background-image:url('../assets/amal/stars.png')
}
#kayRoad1{
  position:absolute;
  left:4040px;
  top:2980px;
  background-image: url('../assets/places/road2.png');
  background-repeat: repeat;
  height:300px;
  width:12000px;
}
#emergencyCover{
  position:fixed;
  display:none;
  top:0px;
  left:0px;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  background-color:rgba(255,0,0,0.5);
}
.tool{
  height:70%;
}
#toolbox{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  height:7%;
/*  background:#ffffff;*/
  /*border:2px solid #ccc;*/
}
#toolbox img{
  margin-left:10px;
}
.timeTool{
  position:absolute;
  width:30px;
  height:100px;

}
#timer{
  display:none;
  flex-direction:column-reverse;
  background-color:white;
  border:solid 2px black;
  top:-60px;
  right:30px;
  text-align:center;
  
}
#timeBar{
  background-color:blue;
}
#amalStage{
  position:absolute;
  left:1500px;
  top:2300px;
}
#askBuilding{
  position:absolute;
  left:2200px;
  top:2300px;
}
#kayFarm{
  position:absolute;
  left:3200px;
  top:2800px;
}
#kayStation{
  position:absolute;
  left:3550px;
  top:3700px;
}
#kayTrack{
  position:absolute;
  left:2750px;
  top:3900px;
}
#kayTube{
  position:absolute;
  left:2750px;
  top:4100px;
  width:4000px;
}
#kayTube2{
  position:absolute;
  left:1050px;
  top:3660px;
  width:2300px;
}
#kayTrack2{
  position:absolute;
  left:3650px; /*+900*/
  top:3880px; /*-20*/
}
#kayTrack3{
  position:absolute;
  left:4550px;
  top:3860px;
}
#kayTrack4{
  position:absolute;
  left:5450px;
  top:3840px;
}
#aristotleOffice{
  position:absolute;
  left:4550px;
  top:3460px;
}
#amalRainbow{
  position:absolute;
  left:3200px;
  top:2000px;
}
#georgie{
  position:absolute;
  top:5000px;
}
#amalBuilding{
  position:absolute;
  left:4600px;
  top:2000px;
}
#candyland{
  position:absolute;
  left:9200px;
  top:1750px;
  width:1500px;
}
#scarletVolcano{
  position:absolute;
  left:10500px;
  top:1150px;
  width:1500px;
}
#kayMarbleSlide{
  position:absolute;
  left:5000px;
  top:2200px;
  width:1500px;
}
#marbleCourse1{
  position:absolute;
  left:6500px;
  top:1800px;
/*  width:1500px;*/
}
#marbleCourse2{
  position:absolute;
  left:7500px;
  top:2500px;
/*  width:1500px;*/
}
#marbleCourse3{
  position:absolute;
  left:7500px;
  top:2000px;
/*  width:1500px;*/
}
.checkboard{
  width:500px;
}
#scarletPortal{
  position:absolute;
  top:1200px;
  width:400px;
  left:700px;
}
#amalPortal{
  position:absolute;
  top:1200px;
  left:9000px;
}

/*#kayRoad2{
  position:absolute;
  left:5340px;
  top:2980px;
  width:1500px;
}
#kayRoad3{
  position:absolute;
  left:6640px;
  top:2980px;
  width:1500px;
}
#kayRoad4{
  position:absolute;
  left:7940px;
  top:2980px;
  width:1500px;
}
#kayRoad5{
  position:absolute;
  left:7940px;
  top:2980px;
  width:1500px;
}*/
#sunglasses{
  position:absolute;
  left:50px;
  top:20px;
  width:100px;
  display:none;
}
#sunglasses img{
  margin:-10px;
}
#aristotleCars{
  position:absolute;
  left:4040px;
  top:3000px;
  width:13000px;
}
#aristotleCars img{
  margin:-30px;
}
#spaghettiJail{
  position:absolute;
  left:7740px;
  top:3200px;
}
#azizBed{
  position:absolute;
  left:8340px;
  top:3500px;
}
#aristotleRailroad{
  position:absolute;
  left:6440px;
  top:3300px;
}
#aristotleBumpy{
  position:absolute;
  left:7440px;
  top:3800px;
}
#kayRiver{
  position:absolute;
  top:2000px;
  left:12000px;
}
#kayBridge{
  position:absolute;
  top:4400px;
  left:12000px;
}
#kayTwister{
  position:absolute;
  left:7340px;
  top:4500px;
}
#ruiLiving{
  position:absolute;
  left:8540px;
  top:4900px;
}
#kayRink{
  position:absolute;
  left:7340px;
  top:4500px;
}
#convenienceStore{
  position:absolute;
  left:9440px;
  top:3500px;
}
#airVolcano{
  position:absolute;
  left:11740px;
  top:6000px;
  width:1500px;
}
#puppyForest{
  position:absolute;
  left:9740px;
  top:4000px;
  width:2000px;
}
#kayTents{
  position:absolute;
  left:11400px;
  top:4500px;
}
#amalVolcano{
  position:absolute;
  left:9640px;
  top:5900px;
}
#ruiVolcano{
  position:absolute;
  left:8640px;
  top:6700px;
}

#amalToyShop{
  position:absolute;
  left:8940px;
  top:3500px;
}
#basementStairs{
  position:absolute;
  left:6640px;
  top:4600px;
}
#kayBuildings{
  position:absolute;
  top:2000px;
  left:13500px;
  width:2000px;
}
#ruiBuildings{
  position:absolute;
  top:1700px;
  left:15500px;;
}
#bakery{
  position:absolute;
  top:3200px;
  left:13500px;
}
#aristotleSteel{
  top:4500px;
  left:15500px;;
}
#kayGas{
  top:3364px;
  left:11376px;;
}
#bowlingAlley{
  top:4700px;
  left:13500px;;
}
#bowlingDance{
  top:4770px;
  left:14250px;;
}
#bowlingBalls{
  top:4770px;
  left:13700px;
/*  border:2px #ccc solid;*/
  width:400px;
}
#bowlingPins{
  top:4770px;
  left:14250px;
  width:100px;
}
#bowlingPins img{
  margin:-10px;
}
#ruiPlanets{
  position:absolute;
  top:100px;
  left:5000px;
}
#lizzyCity{
  top:5400px;
  left:5500px;
}
#aristotleParking{
  top:3400px;
  left:15500px;
}
#icecreamShop{
  top:3300px;
  left:14500px;
}
#mariaUnicornLand{
  top:5400px;
  left:14500px;
}
#cheetyLand{
  top:6400px;
  left:14500px;
  width:1500px;
}
#cohortRhonda{
  top:6000px;
  left:2000px;
  border:2px solid #ccc;
}
#owenCastle{
  top:7240px;
  left:13315px;
}
#dinosaurs{
  position:absolute;
  width:1000px;
  top:6500px;
  left:15000px;
}
#dinosaurs img{
  margin:-40px;
}
#phoneBooth{
  top:3300px;
  left:15200px;
  pointer-events:none;
}
#phoneMachine{
  top:3400px;
  left:15240px;
}
#aristotleShortcut{
  top:3151px;
  left:10502px;
  width:800px;
}
#azizCastle{
  top:4670px;
  left:14750px;
}
#owenCity{
  top:5440px;
  left:13315px;
  width:2000px;
}
#owenFerris{
  top:5440px;
  left:15315px;
}
#owenHouse{
  top:6240px;
  left:15315px;
}

#clayIslands{
  top:6500px;
  left:13300px;
/*  width:1500px;*/
}
#trainIsland{
	top:5307px;
	left:2667px;
	width:2000px;
}
#healthSpa{
  top:5003px;
  left:7544px;
}
#beards{
  position:absolute;
  left:50px;
  top:20px;
  width:100px;
  display:none;
}
#beards img{
  margin:-10px;
}
#bank{
  left:8257px;
  top:2193px;
}
#monsterBuilding{
  left:16556px;
  top:2000px;
}